.about-me {
    font-family: "Roboto:900";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .text-panel {
        margin: 0 0 2rem 0;
        padding: 1rem;
        max-width: 100%;
        .intro {
            font-size: 2.5em;
            line-height: 1.3em;
            margin-bottom: 0.7em;
            color: #555;
        }
    }
    .img-panel {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 25rem;
      }
    }
}
.skill-panel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (min-width: 1200px) {
  .about-me {
    .text-panel {
        margin: 0 2rem 2rem 0;
    }
}
}

@media only screen and (min-width: 992px) {
    .about-me {
        flex-direction: initial;
        .text-panel {
          max-width: 60%;
        }
        .img-panel {
          margin-top: 2rem;
        }
    }
}
