<div class="about-me">
  <div class="text-panel">
    <h1>About me</h1>
    <p class="intro">I'm a Full Stack Developer from São Paulo, Brazil.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget velit metus. Nam porttitor fermentum mi,
      quis pulvinar ipsum tristique a. In viverra varius purus, non efficitur risus finibus vitae. Phasellus quis massa auctor,
      vestibulum magna et, viverra eros. Phasellus egestas nibh vitae sapien sollicitudin convallis. Proin id est commodo, consequat purus et,
      lacinia tortor. Phasellus vitae finibus dui.
    </p>
  </div>
  <div class="img-panel">
      <img src="/assets/mlassakoski.jpg" alt="" class="responsive-img">
  </div>
</div>
