$dark-purple: #555d8b;
$light-purple: #6b75ac;
$white: #fff;
$light-gray: #ccc;
$dark-gray:  #555;

.bar-box {
  width: 40rem;
  height: 100%;

  .bar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 1rem;
    background: $light-gray;
    .bar-fill {
      background: $dark-purple;
      .bar-text {
        background: $light-purple;
        color: $white;
        width: 10rem;
        text-align: center;
        padding: 0.2rem;
      }
    }
    .bar-value {
      color: $dark-gray;
      margin-right: 1rem;
      font-weight: bold;
    }
  }
}
