.skills {
    .skill-card {
        margin: 2rem 0 2rem 0;
        .mat-card-header {
            border-bottom: 1px solid #ccc;
            .mat-card-title {
                font-weight: bold;
                font-size: 2em;
            }
        }
        .mat-card-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .icon-panel {
                flex-direction: row;
                .icon-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 1rem 1rem 0 0;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .toolbar-menu {
        .nav-menu {
            height: 100%;
            justify-content: space-between;
        }
    }
}

@media (min-width: 1024px) {
    .skills {
        .skill-card {
            .mat-card-content {
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
            }
        }
    }
}

@media (min-width: 1360px) {
    .toolbar-menu {
        .nav-menu {
            width: 60%
        }
    }
}
