<div class="main-container">
  <mat-toolbar class="toolbar-menu">

    <button class="hide-on-med-and-up" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- logo -->
    <div class="hide-on-small-only">

    </div>

    <!-- menu items -->
    <ul>
      <li *ngFor="let item of menu" class="hide-on-small-only">
        <mat-icon>{{item.icon}}</mat-icon>
        <a [routerLink]="item.url">{{item.name}}</a>
      </li>
    </ul>

    <!-- social media -->
    <div class="social-media-icon">
      <a href="https://github.com/mlassakoski" target="_blank">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/in/mauriciolassakoski" target="_blank">
        <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </mat-toolbar>

  <!-- nav menu -->
  <mat-sidenav-container class="snav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of menu" [routerLink]="item.url">{{item.name}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- router outlet -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
