$snav-bg: #262728;
$nav-item-color: #fff;
$nav-item-color-hover: #bbb;
.nav-menu {
    background: $snav-bg;
    .toolbar-menu {
        display: flex;
        justify-content: space-between;
        background: $snav-bg;
        width: 100%;
        margin: auto;
        .logo {
            a {
                display: flex;
                align-items: center;
                img {
                    width: 3rem;
                    &:hover {
                        color: $nav-item-color-hover;
                    }
                }
            }
        }
        button {
            color: $nav-item-color;
            &:hover {
                color: $nav-item-color-hover;
            }
        }
        ul {
            display: flex;
            list-style: none;
            li {
                display: flex;
                align-items: center;
                padding: 1rem;
                color: $nav-item-color;
                .mat-icon {
                    margin-right: 0.3rem;
                }
                a {
                    display: flex;
                    align-items: center;
                    color: $nav-item-color;
                    cursor: pointer;
                    &:hover {
                        color: $nav-item-color-hover;
                    }
                }
            }
        }
        .social-media-icon {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                display: flex;
                margin-left: 0.5rem;
                i {
                    margin: 0 0.4rem;
                    color: $nav-item-color;
                    &:hover {
                        color: $nav-item-color-hover;
                    }
                }
            }
        }
    }
}

.snav-container {
    height: 100%;
    position: inherit;
    .mat-drawer-content {
        overflow: hidden;
    }
    .mat-drawer {
        min-width: 12rem;
    }
}

@media (min-width: 768px) {
    .nav-menu {
        .toolbar-menu {
            justify-content: space-between;
        }
    }
}

@media (min-width: 1360px) {
    .nav-menu {
        .toolbar-menu {
            width: 60%;
        }
    }
}

// sprites
.logo_small_hover,
.logo_small_white {
    background: url('/assets/icons/logo_small_sprites.png') no-repeat;
}

.logo_small_hover {
    background-position: -55px -1px;
    width: 52px;
    height: 52px;
}

.logo_small_white {
    background-position: -1px -1px;
    width: 52px;
    height: 52px;
}
