#menu {
    position: relative;
}

#menu nav {
    background: #e65100;
}

.ul-center {
    width: 32rem;
    margin: 0 auto;
}

.side-nav {
    background: #212223 !important;
}

.side-nav li > a {
    color: #FFF !important;
}

.side-nav li > a > i{
    color: #FFF !important;
}