.panel-body {
    opacity: 0.9;
    svg {
       display: block;
       margin: 0 auto;
    }

    .btn-shake {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
    .radar-chart-box {
        
    }
}