<div class=main-content>
  <div class="home-content row">
    <div class="col s12 m12 l6 presentation-box">
      <div>
        <teximate [text]="'Hello!'" [effect]="effectOptions" [hover]="hoverOptions"></teximate>
        <teximate [text]="'I am Mauricio,'" [effect]="effectOptions" [hover]="hoverOptions"></teximate>
        <teximate [text]="'Fullstack Software Developer.'" [effect]="effectOptions" [hover]="hoverOptions"></teximate>
      </div>
      <div class="lightsaber">
        <div class="back" [ngClass]="{'open': isOpen }">
          <div class="outer_glow" style="background-color: #87dc5a;"></div>
          <div class="middle_glow" style="background-color: #FCFEFC;"></div>
          <div class="core_glow"></div>
          <div class="handle" (click)="swapSaber()">
            <img src="../assets/lightsaber.png">
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col s12 m12 l6"> </div> -->
  </div>

  <div class="row">
    <div class="yoda-box col s12 m12 l12">
      <div class="yoda">
        <div class="speech-bubble">
          <span>Hire me, you should!</span>
        </div>
        <img src="../assets/yoda2.png" alt="">
      </div>
    </div>
  </div>
</div>
